{% extends 'home/base.html' %}
{% load static %}
{% load humanize %}

{% block body %}
<!-- s-content
================================================== -->

<section class="s-content s-content--top-padding s-content--narrow">
{% for message in messages %}
        <div class=" alert alert-{{ message.tags }} alert-dismissible" style=" padding:12px; font-size:18px; margin-top:-100px;margin-bottom:55px; border-radius:1rem;" >
    <button type="button" style="top:-1.2rem" class="close"  data-dismiss="alert">X</button>
    <strong class="text-{{ message.tags }}">Message: </strong> {{ message }}
  </div>
{% endfor %}

    <article class="row entry format-standard">

        <div class="entry__media col-full">
            <div class="entry__post-thumb">
                <img src="{{ post.photo.url }}" class="rounded mx-auto d-block"
                     srcset="{{post.photo.url}} 2000w,
                                 {{post.photo.url}} 1000w,
                                 {{post.photo.url}} 500w"
                     sizes="(max-width: 2000px) 100vw, 2000px" style="height:480px; width:auto">
            </div>
        </div>

        <div class="entry__header col-full">
            <h1 class="entry__header-title display-1">
                {{post.title}}
            </h1>
            <ul class="entry__header-meta">
                <li class="date">{{ post.timestamp|naturaltime}}</li>
                <li class="byline">
                    By
                    <a href="#0">
                        {{post.author}}
                        </a>
                </li>
            </ul>
        </div>

        <div class="col-full entry__main">

            <blockquote><p>{{post.message|linebreaks}}</p></blockquote>
            <div style="">
            <button class="button" style="" >Delete post</button>
                </div>
            <div class="entry__author">
                <img src="{{pro.photo.url}}" alt="">

                <div class="entry__author-about">
                    <h5 class="entry__author-name">
                        <span>Posted by</span>
                        <a href="#0">
                            <div class="user_welcome">{{post.author}}</div>
                            </a>
                    </h5>

                    <div class="entry__author-desc">
                        <p>
                            <span><b>About the author: </b><br></span>
                            {{pro.bio}}
                        </p>
                    </div>
                </div>
            </div>

        </div> <!-- s-entry__main -->

    </article> <!-- end entry/article -->


    <div class="s-content__entry-nav" style="margin-top: 2px">
        <div class="row s-content__nav">
            <div class="col-six s-content__prev">
                <a href="#0" rel="prev">
                    <span>Previous Post</span>
                    This link will work for previous post.
                </a>
            </div>
            <div class="col-six s-content__next">
                <a href="#0" rel="next">
                    <span>Next Post</span>
                    This link will work for next post.
                </a>
            </div>
        </div>
    </div> <!-- end s-content__pagenav -->

    <!--    COMMENTS STARTS HERE-->

    <div class="comments-wrap">

        <div class="row comment-respond">

            <!-- START respond -->
            <div id="respond" class="col-full" style="margin-top:-114px">

                <h3 class="h2">{{size.0}} Comments<span>Your email address will not be published</span></h3>
            {% if size.0 == 0 %} <h3>Be the first one to comment.</h3>{% endif %}
<form method="post" action="{% url 'postComment' %}">
{% csrf_token %}

                        <h4>Post comment</h4>
{% if user.is_authenticated %}
                    <div class="form-field">
                        <input name="comment" id="cName" class="full-width" placeholder="Enter your comments here*" value="" type="text">
                        <input name="postSno" id="cName" type="hidden" value="{{post.sno}}">
                    </div>

                    <input name="submit" id="submit" class="btn btn--primary btn-wide btn--large "
                           value="Add Comment" type="submit">
{% else %}
    <h5 class="align:left">Want to post comment?<a href="{% url 'login' %}"> Log in </a>here. </h5>
    <h5 class="align:left">Dont have an account?<a href="{% url 'signup' %}"> Sign up </a>here. </h5>
{% endif %}
</form> <!-- end form -->

            </div>
            <!-- END respond-->

        </div> <!-- end comment-respond -->


        <div id="comments" class="row">
            <div class="col-full">

                <!-- START commentlist -->
                <ol class="commentlist">

{% for comment in comment %}
                    <li class="depth-1 comment">

                        <div class="comment__avatar">
                            <img class="avatar" src="{{pro.photo.url}}" alt="" width="50" height="50">
                        </div>

                        <div class="comment__content">

                            <div class="comment__info">
                                <div class="comment__author">{{comment.user}}</div>

                                <div class="comment__meta">
                                    <div class="comment__time">{{comment.timestamp|naturaltime}}</div>
                                    <div class="comment__reply">
                                        <a class="comment-reply-link" href="#0">Reply</a>
                                    </div>
                                </div>
                            </div>

                            <div class="comment__text">
                                <p>{{comment.comment}}</p>
                            </div>

                        </div>

                    </li> <!-- end comment level 1 -->
{% endfor %}

                </ol>
                <!-- END commentlist -->

            </div> <!-- end col-full -->
        </div> <!-- end comments -->


    </div> <!-- end comments-wrap -->
</section> <!-- end s-content -->


{% endblock body %}